<!-- START panel-->
<h3>Administración de Cajas</h3>
<div ng-controller="CajaController as ctrl" class="row">
   <div class="col-sm-6 col-xs-12">
      <button type="button" ng-click="ctrl.showAdd(true)" class="btn btn-success"><i class="fa fa-plus-circle"></i> Nueva Caja</button>
   </div>
   <div class="col-sm-6 col-xs-12">
      <form ng-submit="ctrl.load()" role="form" class="form-inline text-right">
         <div class="form-group">
            <div class="input-group">
               <input type="text" ng-model="ctrl.query" placeholder="Buscar nombre..." class="form-control" />
               <span class="input-group-btn">
                  <button type="submit" class="btn btn-info">
                     <strong><i class="fa fa-search"> Buscar</i>
                     </strong>
                  </button>
               </span>
            </div>
         </div>
      </form>
   </div>
   <br/>
   <br/>
   <div class="col-sm-12">
      <form name="ctrl.form" ng-submit="ctrl.add()" ng-show="ctrl.show" autocomplete="off" novalidate="" class="form-horizontal">
         <div ng-class="ctrl.caja.id != 0 ? 'panel-warning':''" class="panel panel-success">
            <div class="panel-heading">
               <strong>Datos de la caja</strong>
            </div>
            <div class="panel-body">
               <input name="id" type="hidden" ng-model="ctrl.tipoProducto.id" />
               <div ng-class="{ 'has-error' : ctrl.form.nombre.$invalid &amp;&amp; ctrl.form.nombre.$dirty }" class="form-group">
                  <label class="control-label col-sm-2">Nombre</label>
                  <div class="col-sm-10">
                     <input name="nombre" type="text" ng-model="ctrl.caja.nombre" required="required" ng-minlength="2" class="form-control" />
                     <div ng-messages="ctrl.form.nombre.$error" ng-show="ctrl.form.nombre.$dirty" role="alert" class="text-danger">
                        <div ng-message="required">Nombre es obligatorio</div>
                        <div ng-message="minlength">Nombre debe tener por lo menos 2 carácteres</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel-footer text-right">
               <div class="row">
                  <div class="col-sm-6 text-left">
                     <button type="button" ng-if="ctrl.caja.id != 0" ng-click="ctrl.disable(ctrl.caja)" title="Eliminar" class="btn btn-danger"><i class="fa fa-trash-o"> Eliminar esta caja</i>
                     </button>
                  </div>
                  <div class="col-sm-6 text-right">
                     <button type="button" ng-click="ctrl.showAdd(false)" class="btn btn-default"><i class="fa fa-times"> Cancelar</i>
                     </button>
                     <button type="submit" ng-disabled="ctrl.form.$invalid" ng-class="ctrl.caja.id != 0 ? 'btn-warning':''" class="btn btn-primary"><i class="fa fa-floppy-o"> Guardar</i>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </form>
      <div class="panel panel-primary">
         <div class="panel-heading">
            <strong>Lista de Cajas</strong>
         </div>
         <!-- START table-responsive-->
         <div class="table-responsive">
            <table class="table table-striped table-hover">
               <thead>
                  <tr>
                     <th width="80%">Nombre</th>
                     <th>Acciones</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="item in ctrl.lista">
                     <td>{{ item.nombre }}</td>
                     <td>
                        <div class="btn-group btn-group-sm">
                           <button type="button" ng-click="ctrl.edit(item)" title="Editar" class="btn btn-warning"><i class="fa fa-pencil"></i>
                           </button>
                           <button type="button" ng-click="ctrl.disable(item)" title="Eliminar" class="btn btn-danger"><i class="fa fa-ban"></i>
                           </button>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <!-- END table-responsive-->
         <!-- END panel-->
      </div>
      <uib-pagination previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="Ultimo" total-items="ctrl.pagingInfo.totalItems" items-per-page="ctrl.pagingInfo.itemsPerPage" ng-model="ctrl.pagingInfo.page" max-size="10" rotate="false"
      ng-change="ctrl.selectPage(ctrl.pagingInfo.page)" boundary-links="true" class="pagination-sm"></uib-pagination>
   </div>
</div>