h2
    strong ADMINISTRACION DE BODEGA
ul.nav.nav-tabs
    li(role='presentation')
        a(ng-href='#/app/producto/lista') Bodega
    li(role='presentation')
        a(ng-href='#/app/movimiento/ingreso') Nuevo Ingreso de Producto
    li(role='presentation')
        a(ng-href='#/app/movimiento/listaingreso') Lista de Ingresos
    li(role='presentation')
        a(ng-href='#/app/movimiento/salida') Nueva Baja de Producto
    li(role='presentation')
        a(ng-href='#/app/movimiento/listasalida') Lista de Bajas
div(ui-view="")
