// START panel
.row(ng-controller="PersonalController as ctrl")
    .col-sm-12
        .panel.panel-primary
            .panel-heading
                .row
                    .col-sm-6
                        strong Personal
                    .col-sm-6.text-right
                        button.btn.btn-default(type="button", ui-sref='app.pagoempleado')
                            i.fa.fa-times  Cerrar
            .panel-body
                form.form-horizontal(id="formver" ng-submit='ctrl.submit()', name='ctrl.formValidate', autocomplete="off", novalidate="")
                    .form-group
                        .row
                            label.col-sm-2.control-label Nombre
                            .col-sm-6
                                .input-group
                                    input.form-control(disabled, style="width:300%;height:35px", name='nombre', ng-model='ctrl.model.nombre', ng-required="true", type="text")
                            label.col-lg-1.control-label(style="text-align:center;") Dias faltantes
                            .col-md-2
                                input.form-control(placeholder='Faltantes', type="number", min="0", max="30", name='faltantes', ng-model='ctrl.faltantes', ng-change="ctrl.diasFaltantes(ctrl.faltantes)")

                    .form-group
                        .row
                            label.col-sm-2.control-label Fecha hora ultimo pago
                            .col-sm-2
                                p.input-group
                                    input.form-control(disabled, type='text', name="date", required='', uib-datepicker-popup='{{ctrl.format}}', ng-model='ctrl.model.fecha_pago', is-open='ctrl.opened', uib-datepicker-options='ctrl.dateOptions', close-text='Cerrar')
                                    span.input-group-btn
                                        button.btn.btn-default(disabled, type='button', ng-click='ctrl.open($event)')
                                            em.fa.fa-calendar

                                table.uib-timepicker.ng-isolate-scope.ng-not-empty.ng-valid.ng-valid-time.ng-dirty.ng-valid-parse.ng-touched(style='margin-top:45px;')
                                    tbody
                                        tr
                                            td.form-group.uib-time.hours
                                                input.form-control.text-center.ng-pristine.ng-valid.ng-not-empty.ng-valid-maxlength.ng-touched(style='width: 50px;', type='text', ng-model='ctrl.hoursini', maxlength='2', tabindex='0', disabled)
                                            td.uib-separator :
                                            td.form-group.uib-time.minutes
                                                input.form-control.text-center.ng-pristine.ng-untouched.ng-valid.ng-not-empty.ng-valid-maxlength(style='width:50px;', type='text',ng-model='ctrl.minutesini', maxlength='2', tabindex='0', disabled)
                                            td.uib-separator &nbsp;
                                                td.form-group.uib-time.minutes
                                                    input.form-control.text-center.ng-pristine.ng-untouched.ng-valid.ng-not-empty.ng-valid-maxlength(style='width:60px;', type='text', ng-model='ctrl.meridianos', maxlength='2', tabindex='0', disabled)
                                                td.ng-hide
                                            td.ng-hide

                            label.col-sm-2.control-label al
                            .col-sm-2
                                p.input-group
                                    input.form-control(type='text', name="date", required='', min-date="ctrl.iniDate", max-date="ctrl.hoy", uib-datepicker-popup='{{ctrl.format}}', ng-model='ctrl.finDate', is-open='ctrl.openend', uib-datepicker-options='ctrl.finDate', close-text='Cerrar')
                                    span.input-group-btn
                                        button.btn.btn-default(type='button', ng-click='ctrl.openfin($event)')
                                            em.fa.fa-calendar

                                table.uib-timepicker.ng-isolate-scope.ng-not-empty.ng-valid.ng-valid-time.ng-dirty.ng-valid-parse.ng-touched
                                    tbody
                                        tr.text-center
                                            td.uib-increment.hours
                                                a.btn.btn-link(ng-click='ctrl.incrementHours()', tabindex='0')
                                                    span.glyphicon.glyphicon-chevron-up
                                            td  
                                            td.uib-increment.minutes
                                                a.btn.btn-link(ng-click='ctrl.incrementMinutes()', tabindex='0')
                                                    span.glyphicon.glyphicon-chevron-up
                                            td.ng-hide
                                        tr
                                            td.form-group.uib-time.hours
                                                input.form-control.text-center.ng-pristine.ng-valid.ng-not-empty.ng-valid-maxlength.ng-touched(style='width: 50px;', type='text', placeholder='HH', ng-model='ctrl.hoursfin' maxlength='2', tabindex='0')
                                            td.uib-separator :
                                            td.form-group.uib-time.minutes
                                                input.form-control.text-center.ng-pristine.ng-untouched.ng-valid.ng-not-empty.ng-valid-maxlength(style='width:50px;', type='text', placeholder='MM', ng-model='ctrl.minutesfin' maxlength='2', tabindex='0')
                                            td.uib-separator &nbsp;
                                            td.form-group.uib-time.minutes(style="cursor: pointer;")
                                                input.form-control.text-center.ng-pristine.ng-untouched.ng-valid.ng-not-empty.ng-valid-maxlength(style='cursor: pointer; width:60px;', type='text', ng-model='ctrl.meridiano', maxlength='2', tabindex='0', ng-click='ctrl.toggleMeridian()', readonly)
                                        tr.text-center
                                            td.uib-decrement.hours
                                                a.btn.btn-link(ng-click='ctrl.decrementHours()', tabindex='0')
                                                    span.glyphicon.glyphicon-chevron-down
                                            td  
                                            td.uib-decrement.minutes
                                                a.btn.btn-link(ng-click='ctrl.decrementMinutes()', tabindex='0')
                                                    span.glyphicon.glyphicon-chevron-down
                                            td.ng-hide

                            .col-sm-2
                                button.btn.btn-primary(type="button" ng-click="ctrl.persona2()")
                                    strong
                                        i.fa.fa-search
                            .col-sm-2
                                button.btn.btn-success(style="width:100px;height:40px", type="button" ng-click="ctrl.openPagos(ctrl.faltantes)")
                                    i.fa.fa-sign-out
                                        b  Pagar
                    .form-group
                        // Panel Comision Ventas
                        .col-sm-12
                            .form-group
                            // START table-responsive
                            #panelPortlet2.panel.panel-success
                                .panel-heading.portlet-handler
                                    |  Totales
                                .panel-body
                                    .form-group
                                        label.col-sm-2.control-label Sueldo Base
                                        .col-sm-2
                                            h3.text(style="margin:0;") {{ ctrl.model.sueldo_cuenta | currency: 'Q '}}
                                        label.col-sm-2.control-label Comision Ventas
                                        .col-sm-2
                                            h3.text(style="margin:0;") {{ ctrl.model.total_comisiones | currency: 'Q '}}
                                    .form-group
                                        label.col-sm-2.control-label Adelantos
                                        .col-sm-2
                                            h3.text(style="margin:0;") {{ ctrl.model.total_adelantos | currency: 'Q '}}
                                        label.col-sm-2.control-label Gastos Personal
                                        .col-sm-2
                                            h3.text(style="margin:0;") {{ ctrl.model.total_gastos | currency: 'Q '}}
                                        label.col-sm-2.control-label Sueldo a Recibir
                                        .col-sm-2
                                            h3.text(style="margin:0;") {{ ctrl.pago - ctrl.model.total_adelantos - ctrl.model.total_gastos + ctrl.model.total_servicios + ctrl.model.total_comisiones | currency: 'Q '}}

                            // END table-responsive
                            // END panel
                    .form-group
                        .col-sm-12
                            .form-group
                            // START table-responsive
                            #panelPortlet2.panel.panel-info
                                .panel-heading.portlet-handler
                                    | Comision Ventas
                                .table-responsive
                                    table.table.table-striped.table-hover
                                        thead
                                            tr
                                                th(style="text-align:center" width="50%") Dia
                                                th(style="text-align:center" width="50%") Total Comision
                                        tbody
                                            tr(ng-repeat="item in ctrl.comi")
                                                td(align="center")
                                                    | {{ item.fecha | date: 'EEEE, d MMMM'}}
                                                td(align="center")
                                                    | {{ item.comision | currency:'Q ' }}

                            // END table-responsive
                            // END panel

                            uib-pagination.pagination-sm(previous-text="Anterior", next-text="Siguiente", first-text="Primero", last-text="Ultimo", total-items="ctrl.pagingInfoCV.totalItems", items-per-page="ctrl.pagingInfoCV.itemsPerPage", ng-model="ctrl.pagingInfoCV.page", max-size="5", rotate="false",ng-change="ctrl.selectPageCV(ctrl.pagingInfoCV.page)", boundary-links="true")
                            

                    .form-group
                        // Panel Gastos Personal
                        .col-sm-6
                            .form-group
                            // START table-responsive
                            #panelPortlet2.panel.panel-info
                                .panel-heading.portlet-handler
                                    | Gastos con el Personal
                                .table-responsive
                                    table.table.table-striped.table-hover
                                        thead
                                            tr
                                                th(width="27%") Fecha
                                                th(width="25%") Autorizo
                                                th(width="18%") Monto
                                                th(width="30%") Descripcion
                                        tbody
                                            tr(ng-repeat="item in ctrl.gastos")
                                                td
                                                    | {{ item.creado | date:'dd/MM/yy hh:mm a' }}
                                                td {{ item.usuario.username ? '' : 'Desde pagos' }}
                                                td
                                                    | {{ item.monto| currency:'Q ' }}
                                                td
                                                    | {{ item.descripcion }}

                            // END table-responsive
                            // END panel

                            uib-pagination.pagination-sm(previous-text="Anterior", next-text="Siguiente", first-text="Primero", last-text="Ultimo", total-items="ctrl.pagingInfoGP.totalItems", items-per-page="ctrl.pagingInfoGP.itemsPerPage", ng-model="ctrl.pagingInfoGP.page", max-size="5", rotate="false",ng-change="ctrl.selectPageGP(ctrl.pagingInfoGP.page)", boundary-links="true")

                            
                        .col-sm-6
                            .form-group
                            // START table-responsive
                            #panelPortlet2.panel.panel-info
                                .panel-heading.portlet-handler
                                    | Adelanto de Sueldo
                                .table-responsive
                                    table.table.table-striped.table-hover
                                        thead
                                            tr
                                                th(width="27%") Fecha
                                                th(width="25%") Autorizo
                                                th(width="18%") Monto
                                                th(width="30%") Descripcion
                                        tbody
                                            tr(ng-repeat="item in ctrl.adelantos")
                                                td
                                                    | {{ item.creado | date:'dd/MM/yy hh:mm a' }}
                                                td {{ item.usuario.username }}
                                                td
                                                    | {{ item.monto | currency:'Q ' }}
                                                td
                                                    | {{ item.descripcion }}

                            // END table-responsive
                            // END panel

                            uib-pagination.pagination-sm(previous-text="Anterior", next-text="Siguiente", first-text="Primero", last-text="Ultimo", total-items="ctrl.pagingInfoAS.totalItems", items-per-page="ctrl.pagingInfoAS.itemsPerPage", ng-model="ctrl.pagingInfoAS.page", max-size="5", rotate="false",ng-change="ctrl.selectPageAS(ctrl.pagingInfoAS.page)", boundary-links="true")
