// START panel
h3 Configuración del Sistema
.row(ng-controller="ConfiguracionController as ctrl")
  .col-sm-12
    form.form-horizontal(name="ctrl.form", ng-submit='ctrl.add()', autocomplete="off", novalidate="")
      .panel.panel-success(ng-class="ctrl.configuracion.id != 0 ? 'panel-warning':''")
        .panel-heading
          strong Datos de configuración
        .panel-body          
          input(name="id", type="hidden", ng-model="ctrl.configuracion.id")
          .form-group(ng-class="{ 'has-error' : ctrl.form.nombre.$invalid && ctrl.form.nombre.$dirty }")
            label.control-label.col-sm-2 Nombre de la empresa
            .col-sm-10
              input.form-control(name="nombre", type="text", ng-model="ctrl.configuracion.nombre_empresa", required, ng-minlength="2")
              .text-danger(ng-messages="ctrl.form.nombre.$error", ng-show="ctrl.form.nombre.$dirty" role="alert")
                div(ng-message="required") Nombre es obligatorio
                div(ng-message="minlength") Nombre debe tener por lo menos 2 carácteres
          
          
          .form-group(ng-class="{ 'has-error' : ctrl.form.nombre.$invalid && ctrl.form.nombre.$dirty }")
            label.control-label.col-sm-2 Inicio de jornada
            .col-sm-10
              uib-timepicker(name="inicio-jornada", ng-model='ctrl.configuracion.inicio_jornada', hour-step='1', minute-step='1', show-meridian='false')
              //- input.form-control(name="inicio-jornada", type="text", ng-model="ctrl.configuracion.inicio", required, ng-minlength="2")
              .text-danger(ng-messages="ctrl.form.inicio-jornada.$error", ng-show="ctrl.form.inicio.$dirty" role="alert")
                div(ng-message="required") Inicio de jornada es obligatorio
                div(ng-message="minlength") Inicio de jornada debe tene por lo menos 2 carácteres          
          
          .form-group(ng-class="{ 'has-error' : ctrl.form.fin.$invalid && ctrl.form.fin.$dirty }")
            label.control-label.col-sm-2 Fin de la jornada
            .col-sm-10
              uib-timepicker(name="fin-jornada", ng-model='ctrl.configuracion.finalizacion_jornada', hour-step='1', minute-step='1', show-meridian='false')
              //- input.form-control(name="fin-jornada", type="text", ng-model="ctrl.configuracion.fin", required, ng-minlength="2")
              .text-danger(ng-messages="ctrl.form.fin-jornada.$error", ng-show="ctrl.form.fin.$dirty" role="alert")
                div(ng-message="required") Finalizacion de jornada es obligatorio
                div(ng-message="minlength") Finalizacion de jornada debe tener por lo menos 2 carácteres
        
        .panel-footer.text-right
          .row
            .col-sm-6.text-left              
            .col-sm-6.text-right
              //- button.btn.btn-default(type="button", ng-click="ctrl.showAdd(false)")
              //-   i.fa.fa-times  Cancelar
              button.btn.btn-primary(type="submit", ng-disabled="ctrl.form.$invalid")
                i.fa.fa-floppy-o  Guardar
    
    .div      
    //- .panel.panel-primary
    //-   .panel-heading
    //-     strong Lista de Tipos de Personas
    //-   // START table-responsive
    //-   .table-responsive
    //-     table.table.table-striped.table-hover
    //-       thead
    //-         tr
    //-           th(width="80%") Nombre
    //-           th Acciones
    //-       tbody
    //-         tr(ng-repeat="item in ctrl.lista")
    //-           td
    //-             | {{ item.nombre }}
    //-           td
    //-             .btn-group.btn-group-sm
    //-               button.btn.btn-warning(type="button", ng-click="ctrl.edit(item)", title="Editar")
    //-                 i.fa.fa-pencil
    //-               button.btn.btn-danger(type="button",  ng-click="ctrl.disable(item)", title="Eliminar")
    //-                 i.fa.fa-ban
    //-   // END table-responsive
    //-   // END panel
    //- 
    //- uib-pagination.pagination-sm(previous-text="Anterior", next-text="Siguiente", first-text="Primero", last-text="Ultimo", total-items="ctrl.pagingInfo.totalItems", items-per-page="ctrl.pagingInfo.itemsPerPage", ng-model="ctrl.pagingInfo.page", max-size="10", rotate="false",ng-change="ctrl.selectPage(ctrl.pagingInfo.page)", boundary-links="true")
